@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
:root {
  font-size: 17px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

*{
  font-family: "Source Sans Pro", helvetica Neue, sans-serif;
  font-variant-ligatures: common-ligatures;
  font-weight: 300;
}



.img{
  height:200px;
  width: auto;
  padding: 5px;
}

/* Style the body */
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Header */
.header {
  padding: 60px;
  text-align: center;
  background: linear-gradient(to bottom right, #360c4e, #a32c68);
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color navbar text*/
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Создали две колонки */
/* left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Адаптация - если ширина экрана меньше 700 пикселей, расположите две колонки друг над другом, а не рядом друг с другом. */
@media screen and (max-width: 700px) {
  .row, .navbar {   
      flex-direction: column;
  }
}